@use '../../../styles/text' as *;
@use '../../../panel/styles/flexGap' as *;

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text);

  @include text-body;
  @include hgap(0.5rem);

  input {
    margin: 0;
    accent-color: var(--accent);
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
